/* latin */
@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: local('Satisfy'), url(ch7X2unYkww0EzsjlC3m8w.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
html {
  font-size:75%;
}

body {
  font-size: 1.4em;
  font-family: 'Microsoft YaHei';
  letter-spacing: 1px;
  line-height: 1.8em;
  background-color:LightGrey;
  color: #5B4947;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 2.0em;
  font-weight: bold;
  font-family: Arial,'Microsoft YaHei','黑体',sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}

article h2:before {
  content: "| ";
}

::-moz-selection {
    background: #00EE76;
}

::selection {
    background: #00EE76;
}

a {
  text-decoration: none;
  cursor: pointer;
  border-bottom:1px dashed green;
  color: black;
  transition: color ease 0.3s;
}

a:hover {
  background-color:LightGrey;
   border-radius: 5px;
}

article a {
  padding-bottom: 2px;
}

article p {
  text-align: justify;
}

code {
    padding: 1px 3px;
    font-size: 0.85em;
    font-family: consolas, monospace, sans-serif;
    white-space: pre-wrap;
    border: #EBEAD5 1px solid;
    background: #FCFBE6;
    border-radius: 2px;
}

pre {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 1.75em 0;
    border: #EBEAD5 1px solid;
    width: 100%;
    padding: 10px;
    font-family: consolas, monospace, sans-serif;
    font-size: 0.9em;
    white-space: pre;
    overflow: auto;
    background: #FCFBE6;
    border-radius: 3px;
}

pre code {
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    background: transparent;
    border: none;
    padding: 0;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

table {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.75em 0;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
}

table th,
table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: #BEAD92 1px solid;
}

blockquote {
  border-left: 10px solid green;
  background-color: #FCFBE6;
  padding: 5px 15px 5px 25px;
  margin-left: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #F4F3DE;
  padding: 30px 6.66% 15px 6.66%;
}

.container div {
  float: left;
  min-width: 50%;
}

.container .indexcontents {
  color:green;
}
header {
  text-align: center;
}

footer {
  clear: both;
  border-top: green 1px solid;
  padding-top: 15px;
  text-align: center;
  font-size: 0.8em;
  line-height: 1.1em;
}

.about {
  clear: both;
  border-top: green 1px solid;
}

.desc {
  font-size: 0.7em;
  font-weight: lighter;
  color:grey;
}
.maintitle {
   font-family:'Satisfy', sans-serif;
}