body {background:#F5F5F5;}
#show {position:relative;height:50em;width:60em;margin:0 auto;background:pink;overflow:hidden;}
#show .show-detail {position:relative;height:38em;width:35em;background:red;float:left;margin:1em;}
#show .show-detail h2 {text-align:center;}
#show .show-detail hr {background:white;height:0.66em;width:100%;}
#show .show-detail ul div div {text-indent:2em;height:8.2em;width:100%;overflow:hidden;margin-top:0.5em;}

#show .show-create {height:38em;width:20em;background:#F5F5F5;float:left;margin:1em;}
#show .show1 {position:relative;height:6.7em;width:100%;background:blue;}
#show .show1 input {height:8em;width:100%;background:#093;font-size:1em;}
#show .show1 input:hover {background:red;color:white;}
#show .show2 {margin-top:2em;height:18em;width:100%;background:purple;}
#show .show2 #tagscloud {text-align:center;clear:both;}
#show .show-bottom {height:9em;width:58em;background:purple;float:left;margin:0em 1em 1em 1em;}

#foot {position:relative;height:4em;width:100%;background:#093;}
#foot p {text-align:center;}